body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.option {
  padding: 0 10px;
  border-bottom: 1px dotted red;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
select,
button {
  padding: 5px 20px;
  font-size: 30px;
  line-height: 40px;
}
